Source: maasclient
Section: admin
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               pep8,
               pyflakes,
               python3-all,
               python3-coverage,
               python3-mock,
               python3-nose,
               python3-requests,
               python3-requests-oauthlib,
               python3-setuptools,
               python3-six,
               python3-bson
Standards-Version: 3.9.5
Homepage: https://github.com/Ubuntu-Solutions-Engineering/maasclient
X-Python3-Version: >= 3.3
Vcs-Browser: https://github.com/Ubuntu-Solutions-Engineering/maasclient
Vcs-Git: git://github.com/Ubuntu-Solutions-Engineering/maasclient.git

Package: python3-maasclient
Architecture: all
Depends: python3-all,
         python3-mock,
         python3-nose,
         python3-requests,
         python3-requests-oauthlib,
         python3-setuptools,
         python3-six,
         python3-bson,
         ${misc:Depends},
         ${python3:Depends}
Description: MAASClient
 Python 3 bindings for MAAS
